/*------------------------------------------------------------------
    ADD YOUR OWN THEME STYLING HERE 
-------------------------------------------------------------------*/
label {
    color: white;
}

header .logo {
	margin-left: -5%;
}

.dark-bg{
	background:#333333 !important;
}

/* .text-white {
    color: white;
}

.btn {
	background: #222935;
	display: inline-block;
	font-size: 12px;
	text-transform: uppercase;
	padding: 15px 35px;
	font-weight: bold;
	border-radius: 4px;
	color: #fff;
	position: relative;
	overflow: hidden;
	border-bottom:3px solid rgba(0,0,0,0.4);
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.btn:hover{
	background:blue;
	color:#fff;
}
*/
.sidebar-nav .btn-primary{
	background:blue;
	border-bottom:3px solid rgba(0,0,0,0.4);
}
.sidebar-nav .btn-primary:hover{
	background:#222935;
}